.deposit-box{
  
    background: url(../images/image-back4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    flex-direction: column;

}

.deposit-box .deposit-box-inner{
    margin:  auto;
}

.deposit-box .deposit-box-inner h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 40px;
    margin-left: 20px;
    padding: 13 px 0;
    
   
}

.deposit-box .deposit-box-inner .textbox{
    width: 100%;
    overflow: hidden;
    font-size:20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2px solid  #4caf50;
    display: flex
}

.deposit-box .deposit-box-inner .icon{
    width: 26px;
    float: left;
    text-align: center;
}

.deposit-box .deposit-box-inner .textbox input{
    border:none;
    outline: none;
    background: none;
    color: white;
    font-size:18px;
    width: 80%;
    float: left;
    margin: 0 10px
}

.btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    border-radius: 8px;
    color: white;
    padding: 5px;
    font-size:18px;
    font-weight: bold;
    cursor: pointer;
    margin: 12px 0;
}
