@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

/* body{
    background: grey;
    margin: 0;
    padding: 0;
    background: url(../images/image-back.jpg);
    background-repeat: no-repeat;
    background-size: auto; 

    } 
 */

.login-box{
  
    background: url(../images/image-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white

}

.login-box .login-box-inner{
    margin: 0 auto;
}

.login-box .login-box-inner h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 40px;
    margin-left: 20px;
    padding: 13 px 0;
    
   
}

.login-box .login-box-inner .textbox{
    width: 100%;
    overflow: hidden;
    font-size:20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2px solid  #4caf50;
    display: flex
}

.login-box .login-box-inner .icon{
    width: 26px;
    float: left;
    text-align: center;
}

.login-box .login-box-inner .textbox input{
    border:none;
    outline: none;
    background: none;
    color: white;
    font-size:18px;
    width: 80%;
    float: left;
    margin: 0 10px
}

.btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size:18px;
    font-weight: bold;
    cursor: pointer;
    margin: 12px 0;


}


.signup-box{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}